#=======================================================#
# Reglas para ignorar archivos o carpetas               #
#=======================================================#
/node_modules
/dll
# /src/app/assets/dll
# /dist
yarn.*
