// Carousel File | Raptor v0.0.2

.Carousel__Item-Active,
.Carousel__Item {

    margin-right: 20px;
    position: relative;
}

.Carousel__Item-Active:before {

    content: 'You are watching';
    width: 100%;
    height: 100%;
    background: rgba($C-D4, 0.9);
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $C-D5;
}
