// Carousels File | Raptor v0.0.2

.ViewBoxXViewBoxBackground,
.FluidBackground,
.CardXCardBackground, {

    background: $C-D7;
}

.WrapperText {

    max-width: 700px;
    padding: 5%;
    margin: auto;
    font-size: .9em;
    font-weight: 100;
    border: solid 1px #2d2d2d;

}

.TitleContainer {

    h1 {

        animation: Carousel 1s ease-in-out;

    }
}

@keyframes Carousel {

    0% {

        transform: translateX(-100%);
        opacity: 0;

    }

    10% {

        opacity: 1;

    }

    100% {

        transform: translateX(0);

    }
}
