// Carousels File | Raptor v0.0.2

.ViewBoxXViewBoxBackground,
.FluidBackground,
.CardXCardBackground, {

    background: $C-D7;
}

.WrapperText {

    max-width: 700px;
    padding: 5%;
    margin: auto;
    font-size: .9em;
    font-weight: 100;
    border: solid 1px #2d2d2d;

}
