// Components

.Items__ItemTypeAImage {
    max-width: 100%;
    font-size: 0;
}

.Items__ItemTypeA {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background: #443b67;
    display: block;
    text-decoration: none;
    color: #b4abd8;
    transition: opacity .2s ease-in-out;
}

.Items__ItemTypeA:hover {
    opacity: .8;
}

.Items__ItemTypeATitleContainer,
.Items__ItemTypeADescriptionContainer,
.Items__ItemTypeATimeContainer,
.Items__ItemTypeADateContainer,
.Items__ItemTypeAAutorContainer,
.Items__ItemTypeALabelContainer {
    padding: 0px 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .Carousel__Arrow-Previous,
    .Carousel__Arrow-Next {
        display: none;
    }
}

.Items__ItemTypeATitle {
    margin: 0px;
}

.Items__ItemTypeADescription {
    margin: 0px;
}

.Items__ItemTypeATitleContainer {
    margin: 15px 0px;
}

.Items__ItemTypeADescriptionContainer {
    margin: 0px 0px 15px 0px;
}

.Items__ItemTypeALabelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0px;

}

.Items__ItemTypeALabel {
    display: block;
    background: #62f1b5;
    padding: 15px;
    border-radius: 10px;
    color: rgba(15, 121, 77, 0.9);
    text-transform: uppercase;
    font-size: 10px;

}

.Items__ItemTypeAAutor {
    font-size: 10px;
    text-align: right;
    display: block;

}

.Items__ItemTypeADate {
    font-size: 10px;
    text-align: left;
    display: block;

}

.Items__ItemTypeADateContainer {
    width: 50%;
    float: left;

}

.Items__ItemTypeAAutorContainer {
    width: 50%;
    float: right;

}

.Items__ItemTypeADateContainer,
.Items__ItemTypeAAutorContainer {
    margin: 0px 0px 20px 0px;


}
