// Components

.Description {

    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: center;

    &__Title {

        margin: 0px;
        font-family: 'Righteous', cursive;
        font-size: 1.5em;
        letter-spacing: 0.06em;
        color: $Color-3;

    }

    &__Paragraph {

        margin: 10px 0px 20px;
        color: $Color-3;

    }

}
