// Components

.Description {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: center;


}

.Description__Title {
    margin: 0px;
    font-family: 'Righteous', cursive;
    font-size: 1.5em;
    color: #dadaca;


}

.Description__Paragraph {
    margin: 10px 0px 20px;
    color: #949494;


}
