// Carousel File | Raptor v0.0.2

.Carousel__Arrow {

    display: flex;
    width: auto;
    align-items: center;
}

.Carousel__Arrow-Previous,
.Carousel__Arrow-Next {
    background: none;
    border: none;
    outline: none;
    transition: opacity .2s ease-in-out;
}

.Carousel__Arrow-Previous:hover,
.Carousel__Arrow-Next:hover {
    opacity: .7;
}

.Carousel__Arrow-Previous {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid $C-D4;
    border-bottom: 20px solid transparent;
}

.Carousel__Arrow-Next {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 30px solid $C-D4;
    border-bottom: 20px solid transparent;
}
