// Settings

// Colors

$Color-1: #dadada; // Main
$Color-2: #fbfbfb; // Secondary
$Color-3: #868686; // Text
$Color-4: #6c89bf; // Interaction
$Color-5: #cedcf5; // Text Light
$Color-6: #b3b3b3; // Shadow
