// Item File | Raptor v0.0.2

.Items__ItemTypeAImage {

    max-width: 100%;
    font-size: 0;
     transition: transform .3s ease-in-out;
     will-change: transform;

}

.Items__ItemTypeA {

    width: 200px;
    border-radius: 6px;
    overflow: hidden;
    background: $C-D2;
    display: block;
    text-decoration: none;
    color: $C-D3;
    position: relative;
    //box-shadow: -1px 1px 4px $C-D6;

    transition: transform .3s ease-in-out;
    will-change: transform;

}

@media (min-width: 768px) {

    .Items__ItemTypeA:hover {

        transform: scale(.97);

        .Items__ItemTypeAImage {

            transform: scale(1.06);

        }


    }

}

.Items__ItemTypeATitleContainer,
.Items__ItemTypeADescriptionContainer,
.Items__ItemTypeATimeContainer,
.Items__ItemTypeADateContainer,
.Items__ItemTypeAAutorContainer,
.Items__ItemTypeALabelContainer {

    padding: 0px 12px;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    .Carousel__Arrow-Previous,
    .Carousel__Arrow-Next {

        display: none;
    }
}

.Items__ItemTypeATitle {

    @include Headline;
    margin: 0px;
}

.Items__ItemTypeADescription {

    @include Text;
    margin: 0px;

}

.Items__ItemTypeATitleContainer {

    margin: 12px 0px;
}

.Items__ItemTypeADescriptionContainer {

    margin: 0px 0px 12px 0px;
}

.Items__ItemTypeALabelContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0px;

}

.Items__ItemTypeALabel {

    display: block;
    background: $C-D4;
    padding: 10px;
    border-radius: 6px;
    color: $C-D5;

    @include Button;

}

.Items__ItemTypeAAutor {

    @include Credit;

    text-align: right;
    display: block;

}

.Items__ItemTypeADate {

    @include Credit;
    text-align: left;
    display: block;

}

.Items__ItemTypeADateContainer {
    width: 50%;
    float: left;

}

.Items__ItemTypeAAutorContainer {

    width: 50%;
    float: right;

}

.Items__ItemTypeADateContainer,
.Items__ItemTypeAAutorContainer {

    margin: 0px 0px 12px 0px;


}
