<!doctype html>
<html class="no-js" lang="en, es">

    <head>
        <meta charset="utf-8">
        <title>Asura Server</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="./assets/favicon.png">
        <link rel="stylesheet" href="./dist/main.css">
    </head>

    <body>
        <main id="app"></main>
        <script type="text/javascript" src="./assets/dll/modules.js"></script>
        <script type="text/javascript" src="./dist/main.js"></script>
    </body>

</html>
