// Kolibri Drops File | Raptor v0.0.2

$C-D1: #dadada; // Main
$C-D2: #fbfbfb; // Secondary
$C-D3: #868686; // Text
$C-D4: #6c89bf; // Interaction
$C-D5: #cedcf5; // Text Light
$C-D6: #cacaca; // Shadow
$C-D7: #3c3c48; // Background
