// Carousel File | Raptor v0.0.2

.Carousel {
    margin: 0px auto 30px;
    max-width: 1140px;
    position: relative;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {

    .Carousel {

        display: block;
    }
}
