// Components

.Carousel {
    margin: 0px auto 30px;
    max-width: 1140px;
    position: relative;
    display: flex;
    justify-content: center;
}



@media (max-width: 768px) {

    .Carousel {
        display: block;
    }
}

.Carousel__Arrow {
    display: none;
    width: auto;
    align-items: center;
    padding: 0px 10px;
}

.Carousel__Arrow-Previous,
.Carousel__Arrow-Next {
    background: none;
    border: none;
    outline-color: $Color-4;
    transition: opacity .2s ease-in-out;
}

.Carousel__Arrow-Previous:hover,
.Carousel__Arrow-Next:hover {
    opacity: .7;
}

.Carousel__Arrow-Previous {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid $Color-4;
    border-bottom: 20px solid transparent;
}

.Carousel__Arrow-Next {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 30px solid $Color-4;
    border-bottom: 20px solid transparent;
}

.Carousel__ViewBox {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.Carousel__ViewBox-Card {
    overflow: hidden;
}

.Carousel__Track {
    display: flex;
}

.Carousel__Item-Active,
.Carousel__Item {
    margin-right: 20px;
    position: relative;

}

.Carousel__Item-Active:before {
    content: 'You are watching';
    width: 100%;
    height: 100%;
    background: rgba($Color-4, 0.9);
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $Color-5;
}
